.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .slide-div {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 100px; 
  opacity: 1;
  overflow: hidden;
  width:800px;
} */
.slide-div {
  display: flex;
   /* Horizontally center the content */
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 1100px; 
}

.svg-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

svg {
  display: block;
}



.slide-div p {
  margin: 0;
  padding: 0;
}

.slide-div.collapsed {
  max-height: 0;
  opacity: 0;
}
